<div class="footer row">
    <div class="logo-footer col-2 pt-4"></div>
    <div class="col-7 text-left pt-4 my-auto">
        <div class="row">
            <a href="#" class="foot-link mx-3 px-3">Giới thiệu</a>
            <a href="#" class="foot-link mx-3 px-3">Blog</a>
            <a href="#" class="foot-link mx-3 px-3">Hỗ trợ</a>
            <a href="#" class="foot-link mx-3 px-3">Điều khoản</a>
            <a href="#" class="foot-link mx-3 px-3">Liên hệ</a>
        </div>
        <div class="copyright mt-3 mx-3">&copy;2018 Ushi Inc.</div>
    </div>
    <div class="col-2 my-auto">
        <select class="selectpicker" data-width="fit">
            <option data-content='<span class="flag flag-us"></span>'>US</option>
            <option data-content='<span class="flag flag-vn"></span>'>Tiếng Việt</option>
        </select>
        <div class="social">
            <ul class="social-icons">
                <li class="pr-2">
                    <a href="" class="social-icon">
                        <i class="fa fa-facebook"></i>
                </li>
                <li class="pr-2">
                    <a href="" class="social-icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li class="pr-2">
                    <a href="" class="social-icon">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>