<!-- loginModal -->
<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 350px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng nhập vào tài khoản Ushi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <a href="" class="btn btn-block btn-outline-info">
                        <i class="fab fa-twitter"></i>   Đăng nhập bằng Twitter</a>
                    <a href="" class="btn btn-block btn-outline-primary">
                        <i class="fab fa-facebook-f"></i>  Đăng nhập bằng facebook</a>
                </p>
                <hr>
                <form class="" action="/login" method="post">
                    <div class="form-group">
                        <input name="username" class="form-control" placeholder="Địa chỉ email" type="email">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">
                        <input name="password" class="form-control" placeholder="Mật khẩu" type="password">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Đăng nhập </button>
                            </div>
                            <!-- form-group// -->
                        </div>
                        <div class="col-md-6">
                            <a class="small" href="#">
                                <p style="display: inline;">Quên mật khẩu</p>
                            </a>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

<!-- singupModal -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 350px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng ký tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="" action="/signup" method="post">
                    <div class="form-group">
                        <input name="username" class="form-control" placeholder="Địa chỉ email" type="email">
                    </div>
                    <!-- form-group// -->
                    <div class="form-group">
                        <input name="password1" class="form-control" placeholder="Mật khẩu" type="password">
                    </div>
                    <div class="form-group">
                        <input name="password2" class="form-control" placeholder="Xác nhận mật khẩu" type="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Đăng ký </button>
                    </div>
            </div>
        </div>
    </div>
</div>