<div class="container-fluid">      
    <!-- Big banner-->
    <div class="homepage_banner_container">
      <div class="content_banner_container">
        <h1 class="title-banner">Thiết kế của bạn
          <br>Thời trang của bạn</h1>
        <div class="site_search_container">
          <form class="ushi_search_form" action=".">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text icon-search-container">
                  <i class="fa fa-search icon-search"></i>
                </span>
              </div>
              <input type="text" id="search" class="site-search-input mx-0" placeholder="Hoạ tiết yêu thích?">
              <div class="input-group-append">
                <button class="btn ushi-btn-primary" type="button">Tìm kiếm</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="homepage-design-container text-center">
        <div class="homepage-design-heading text-light">
          <strong>Một ý tưởng, một nét vẽ, một hình ảnh đậm chất tôi?
            <span class="color-primary">Ushi</span> sẽ giúp bạn hiện thực nó !</strong>
        </div>
        <div class="encourage-click">
          <img class="pattern-point2" src="../img/pattern/arrow-to-click.png" width="50px" alt=" ">
          <a class="btn btn-primary text-light" href="../design-page/design.html">
            <strong>Triển ngay</strong>
          </a>
        </div>
      </div>
    </div>
    <!-- Carousel Hot Modal-->
    <div class="container text-center my-5">
      <h2>
        <strong>Mẫu hot</strong>
      </h2>
      <div class="row mx-auto my-4">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
          <div class="carousel-inner w-100" role="listbox">
            {{#each shirts}}
            <div class="carousel-item{{#unless @index}} active {{/unless}}">
              <div class="d-block col-3 img-fluid">
                <div class="shirt wow animated animated4 fadeInLeft" style='background-image: url("{{img_url}}")'>
                  <div class="shirt-hover">
                    <h2>{{name}}</h2>
                    <hr />
                    <h4 class="price">{{price}}đ</h4>
                    <a href="#" class="ushi-btn-primary">Xem</a>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}            
          </div>
          <div class="carousel-hot-control">
            <a id="prev-hot" class="carousel-control-prev " href="#recipeCarousel" role="button" data-slide="prev">
              <i class="fa fa-chevron-left color-second" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <ol class="carousel-indicators" id="indicator">
              <i data-target="#recipeCarousel" data-slide="1" class="fa fa-circle active"></i>
              <i data-target="#recipeCarousel" data-slide="3" class="fa fa-circle"></i>
              <i data-target="#recipeCarousel" data-slide="5" class="fa fa-circle"></i>
              <i data-target="#recipeCarousel" data-slide="3" class="fa fa-circle"></i>
              <i data-target="#recipeCarousel" data-slide="5" class="fa fa-circle"></i>
              <i data-target="#recipeCarousel" data-slide="5" class="fa fa-circle"></i>
            </ol>

            <a id="next-hot" class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
              <i class="fa fa-chevron-right color-second" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>


      <!-- end container fluid-->
    </div>
    <!--end carousel -->
    <!-- Collection -->
    <div class="container text-center">
      <h2 class="my-3">
        <strong>Bộ sưu tập</strong>
      </h2>
      <div class="row pb-5">
        <a class="col-4 " href="#">
          <img class="collect-item" src="../img/collection/collection1.jpg" alt="Fashion girl">
        </a>
        <a class="col-4 " href="#">
          <img class="collect-item" src="../img/collection/collection2.jpg" alt="Fashion girl">
        </a>
        <a class="col-4 " href="#">
          <img class="collect-item" src="../img/collection/collection3.jpg" alt="Fashion girl">
        </a>
      </div>
    </div>
    <!--Video guide -->
    <div class="container">
      <div class="guide-container">
        <div class="guide-above col-12">
          <div class="row guide-content mt-4">
            <div class="col-6 my-auto">
              <video class="video-guide my-auto" width="100%" controls>
                <source src="../video/How to Create T-Shirt Design for Teespring Campaign.mp4" type="video/mp4">
              </video>
            </div>
            <div class="col-6 guide-step">
              <div class="step-line">
                <span class="circle-numbering">1</span> Upload hình ảnh/ thiết kế của bạn
              </div>
              <div class="step-line">
                <span class="circle-numbering">2</span> Tuỳ chỉnh và thêm họa tiết yêu thích
              </div>
              <div class="step-line">
                <span class="circle-numbering">3</span> Chọn chất liệu, loại áo và kích cỡ
              </div>
              <div class="step-line">
                <span class="circle-numbering">4</span> Đặt in !
              </div>
              <!--after understand, guest willing click design -->
              <div class="encourage-click ml-3">
                <img class="pattern-point2" src="../img/pattern/arrow-to-click.png" width="50px" alt=" ">
                <a class="btn btn-danger  text-light" href="../design-page/design.html">
                  <strong>Bắt đầu thiết kế</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="title-guide">Chỉ
          <span>4 bước</span> có ngay chiếc áo đậm chất tôi
        </div>
        <div class="shirt-below col-4">
        </div>
      </div>
    </div>    

    <!--End container & body -->
  </div>